.list{
    color: rgb(56, 105, 6);
    background-color: aqua;
    width: 80%;
    margin: 10px auto;
    border-radius: 10px;
    padding: 3px 10px;
    font-weight: 700;
    font-size: 20px;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.39);
    min-height: 20px;
    word-wrap: break-word;
}
.del-icon{
    font-size: 30px;
    float: right;
    cursor: pointer;
}